/* Center app in screen */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #6f1d1b;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App container */
#app {
  background: #e7d7c1;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  
  text-align: center;

  width: 520px;      /* increased from 380px */
  min-height: 520px; /* ensures taller box */
  max-width: 95%;
}

/* Title */
h1 {
  margin-top: auto;
  margin-bottom: 15px;
  color: #444;
  font-family:'Poppins', sans-serif;
  font-size: 50px;
}

/* Stats bar */
#stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 10px;
  font-size: 14px;
  color: #555;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.05);
}

#stats strong {
  color: #333;
}

/* Input section */
.input-section {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

#todo-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#add-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

#add-btn:disabled {
  background: #bbb;
  color: white;
  cursor: not-allowed;
}

#add-btn:not(:disabled) {
  background: #034748;
  color: white;
  cursor: pointer;
}

#add-btn:not(:disabled):hover {
  background: #0b8f92;
}

/* Empty message */
#empty-state {
  text-align: center;
  color: #777;
  margin: 10px 0;
}

/* Todo item style */
.todo-item {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #fafafa;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.todo-item:hover {
  transform: scale(1.02);
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 4px;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  margin-right: 8px;
}

.todo-checkbox.checked {
  background: #034748;
  color: white;
  
}

.todo-text {
  flex: 1;
  text-align: left;
}

.todo-text.completed {
  text-decoration: line-through;
  color: #999;
}

.delete-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #b52a37;
}

/* Clear completed button */
#clear-completed {
  margin-top: 10px;
  background: #CA895F;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: none;
  color: #f9f6f6;
}

#clear-completed.show {
  display: block;
}