
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Banner */
.banner { 
  background: #777; 
  padding: 15px; 
  text-align: center; 
  -webkit-app-region: drag;
}

.banner h1 { 
  color: rgb(13, 0, 0); 
  font-size: 24px; 
  font-weight: bold; 
  margin: 0; 
}

/* Stats bar */
#stats {
  font-size: 12px;
  font-weight: bold;
  color: #333;

  margin-top: -15px;   /* moves it UP slightly */
  margin-bottom: 20px; /* space before progress bar */
  margin-left: 283px; 
  text-align: left;    /* align to left */
  
}

#stats strong {
  color: #333;
}

body {
  background: #0a0000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.todo-widget {
  width: 400px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  padding: 20px;

}
#todo-input {
  width: calc(100% - 60px);
  padding: 6px;
  font-size: 16px;
}

#add-btn {
  width: 50px;
  padding: 6px;
  font-size: 16px;
}

/* Progress bar */
.progress-container {
  position: relative;
  width: 90%;
  height: 14px;
  background: #ec8686;
  border-radius: 999px;
  overflow: visible;
  margin: 20px auto;
   
}

.progress-bar {
  height: 100%;
  background: #4caf50;
  transition: width 0.3s ease;
}

.progress-image {
  position: absolute;
  top: -30px;
  left: 0;
  height: 70px;
  transition: left 0.3s ease;
  pointer-events: none;

   /* This allows the image to be centered on its left position */
  transform: translateX(0);/* we'll update in JS */
}